# Vars to use in lxc-create
name=ofn-dev
template=/usr/share/lxc/templates/lxc-ubuntu
rls=xenial
# config="/tmp/ubuntu.conf"
host=local.ofn.org
nproject=coopdevs_ofn
fproject="${PWD%/*}/$nproject"
app_user="openfoodnetwork"
